@use "../../../../styles/main.scss";
@import "../../../../styles/mixins";

.root {
  width: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;

  &:hover.paused {
    border: 1px solid white;
  }

  .upper_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .icon {
      font-size: 36pt;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &.paused {
        color: main.$grey-secondary;
      }

      :hover > & {
        color: white;
      }
    }

    .title_container {
      display: flex;
      flex-direction: column;
      text-align: right;
      font-size: main.$sm-text;

      span {
        margin-bottom: 4px;
      }
    }
  }
}
