@use '../../styles/main.scss';
@import '../../styles/mixins';

.outer_form_container {
  max-width: 460px;
  padding: 10px;

  h3 {
    border-bottom: 1px solid main.$grey-primary;
    margin: 6px 0px;
  }

  .input_label {
    margin-bottom: 4px;
  }

  .input_container {
    margin: 10px 0px;

    .upload_button {
      border-radius: 4px;
      border: none;
      padding: 6px;
      font-size: main.$md-text;
      background-color: main.$grey-primary;
    }

    img {
      max-width: 75%;
      max-height: 300px;
    }

  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.stack_form {

      input {
        margin-right: 8px;
      }

      select {
        height: 100%;
      }

      .type {
        border: 1px solid blue;
      }
    }
  }

  .submit_container {
    button {
      width: 50%;
    }
  }
}

.stack_item {
  display: flex;
  align-items: center;
  height: 26px;
  padding: 4px;
  border-radius: 6px;
  margin-right: 8px;
  margin-top: 4px;
  font-size: main.$xs-text;
}

@include md {

  .stack_item {
    font-size: main.$sm_text;
  }
}


.checkbox {
  color: main.$main-color !important;
}