body {
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page_container {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}


