@use "../styles/main.scss";
@import "../styles/mixins";

body {
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
  font-size: main.$mdlg-text;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 4px;
  border: none;
  padding: 6px;
  font-size: main.$md-text;
  cursor: pointer;
  font-family: main.$font-stack;
  transition: 0.2s ease-in-out;
  &:focus {
    outline: none;
  }

  &.disabled {
  }
}

input {
  height: 26px;
  border-radius: 4px;
  border: none;
  font-family: main.$font-stack;
  padding: 6px;

  &:focus {
    outline: 2px solid main.$main-color;
  }

  &::placeholder {
    color: main.$grey-secondary;
  }
}

label {
  margin-bottom: 4px;
}

textarea {
  border-radius: 4px;
  padding: 6px;
  font-family: main.$font-stack;
  height: 60px;
  
  &:focus {
    outline: 2px solid main.$main-color;
  }
  
  &::placeholder {
    color: main.$grey-secondary;
  }
}

select {
  font-family: main.$font-stack;
  border: none;
  border-radius: main.$border-radius;
  background-color: main.$grey-primary;
  color: white;
}

select:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.mg_0 {
  margin: 0;
}

.btn_primary {
  color: white;
  background-color: main.$main-color;
}

.btn_inverted {
  color: white;
  background-color: transparent;
  border: 1px solid main.$main-color;

  &:hover {
    background-color: main.$main-color;
  }
}

.light_text {
  font-weight: 300;
}

.medium_text {
  font-weight: 500;
}

.heavy_text {
  font-weight: 800;
}

.italic_text {
  font-style: italic;
}

.disabled_text {
  color: main.$grey-secondary;
}

.xs_text {
  font-size: main.$xs-text;
}

.sm_text {
  font-size: main.$sm-text;
}

.md_text {
  font-size: main.$md-text;
}

.xl_text {
  font-size: main.$xl-text;
}

.underline_text {
  border-bottom: 2px solid main.$main-color;
}

.danger_text {
  color: main.$danger;
}

.border_radius {
  border-radius: main.$border-radius;
}

.border_main {
  border: 1px solid main.$main-color;
}

.border_white {
  border: 1px solid main.$off-white;
}
