@use './main.scss';
@import './_mixins';


.container {
  display: flex;
  flex-direction: column;
  color: white;
  background: main.$black-primary;
}

@include sm {
    .container {
      flex-direction: row;
    }
}