@use "./main.scss";
@import "./_mixins";

.content_container {
  .content_section {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 50px 0px;

    .section_title {
      margin-bottom: 10px;
    }

    .video_container {
      display: flex;
      max-width: 1200px;
      justify-content: center;
    }

    @include md {
      .video_container {
        justify-content: flex-start;
      }
    }
  }
}
