@use './main.scss';
@import './_mixins';

.root {
  display: flex;
  flex-direction: column;
  color: white;
  background: main.$black-primary;

  .page_wrapper {
      width: 100%;

      .header_image_container {
        position: relative;
        height: 260px;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0), main.$black-primary); /* FF3.6+ */
          background: -webkit-gradient(to bottom, rgba(0, 0, 0, 0), main.$black-primary); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), main.$black-primary); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0), main.$black-primary); /* Opera 11.10+ */
          background: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0), main.$black-primary); /* IE10+ */
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), main.$black-primary); /* W3C */
        }

        img {
          width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }


    }
    .page_content {
      min-height: 100vh;
      flex-grow: 1;
      padding: 20px;
    }
}

@include sm {
  .root {

    .page_wrapper {

    }

    flex-direction: row;
      .page_wrapper {

        .header_image_container {
          height: 340px;
        }
      }
    }
}