@use './main.scss';
@import './_mixins';

.root {
  display: flex;
  flex-direction: column;
  color: white;
  background: main.$black-primary;
}

@include sm {
    .root {
      flex-direction: row;
    }
}