@use './main.scss';
@import './_mixins';

.root {
  display: flex;
  flex-direction: column;
  color: white;
  background: main.$black-primary;

  .page_container {
    // width: 100%;
      flex-grow: 1;
      padding: 10px;
  }
}

@include sm {
  .root {
    flex-direction: row;
      .page_container {
        width: 65%;
      }
    }
}