$xs-text: 8pt;
$sm-text: 10pt;
$md-text: 12pt;
$mglg-text: 14pt;
$lg-text: 16pt;
$xl-text: 18pt;

$main-color: #1DB954;
$black-primary: #212121;
$black-secondary: #121212;
$grey-primary: #484848;
$grey-secondary: #CBCBCB;
$font-stack: montserrat, sans-serif;

.main_color {
  color: $main-color;
}