$xs-text: 8pt;
$sm-text: 10pt;
$md-text: 12pt;
$mdlg-text: 14pt;
$lg-text: 16pt;
$xl-text: 18pt;
$xl2-text: 22pt;

$main-color: #1db954;
$black-primary: #212121;
$black-secondary: #121212;
$grey-primary: #4e4e4e;
$grey-secondary: #cbcbcb;
$font-stack: montserrat, sans-serif;
$off-white: #cdcdcd;
$danger: #ff5a5f;

$border-radius: 4px;

.main_color {
  color: $main-color;
}
