@use '../styles/main.scss';
@import '../styles/mixins';

.root {
  display: flex;
  width: 100%;
  background-color: main.$black-secondary;
  color: white;

  .nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0px;
    transition: 0.2s ease-in-out;

    .icon {
      font-size: 14pt;
    }

    .text {
      font-size: 8pt;
    }
    
    &._selected {
      background: main.$main-color;
    }

    &:hover {
      background-color: main.$main-color;
    }
  }
}

@include sm {
  .root {
    height: 100vh;
    width: 35%;
    max-width: 400px;
    flex-direction: column;

    .nav_item {
      flex-direction: row;
      justify-content: flex-start;
      border-radius: 10px;
      height: 74px;
      width: 100%;
      padding: 10px;
      
        .icon {
          margin-right: 20px;
          font-size: 18pt;
        }

        .text {
          // font-weight: 500;
          font-size: 14pt;
        }
      }
  }
  
}


