@use '../styles/main.scss';
@import '../styles/mixins';

.root {
  display: flex;
  width: 100%;
  background-color: main.$black-secondary;
  color: white;

  .lock_icon_container {
    display: none;
  }
  
  .items_container {
    display: flex;
    width: 100%;
    background-color: main.$black-secondary;
    color: white;

    .nav_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4px 0px;
      transition: 0.2s ease-in-out;
  
      .icon {
        font-size: 14pt;
      }
  
      .text {
        font-size: 8pt;
      }
      
      &._selected {
        background: main.$main-color;
      }
  
      &:hover {
        background-color: main.$main-color;
      }
    }
  }

}

@include sm {
  .root {
    width: 35%;
    max-width: 360px;
    flex-direction: column;
    justify-content: space-between;
    
    .items_container {
      flex-direction: column;

      .nav_item {
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 10px;
        height: 80px;
        width: 100%;
        padding: 10px;
        
          .icon {
            margin-right: 20px;
            font-size: 18pt;
          }
  
          .text {
            font-size: 14pt;
          }
        }
    }
  }
}

@include md {
  .root {
    .lock_icon_container {
      display: flex;
      padding: 6px;
      color: main.$grey-primary;
    }
  }
}


